<div class="container">
        <div class="login-container">
            <div style="display: flex; align-items: start;">
                <button mat-button (click)="RHome()" style="width: 7px;background-color: white;">
                    <!-- <mat-icon class="small">arrow_back</mat-icon> -->
                    <img src="../../assets/img/arrow_back.svg" alt="Envíos Internacionales">
                </button>
            </div>
            <h2>Logueo Hermes</h2>
        <form>
            <div class="input-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" class="input-text" 
                [(ngModel)]="User" required>
            </div>
            <div class="input-group">
                <label for="password">Contraseña</label>
                <input [type]="EyePass == true ? 'text' :'password'" id="password" name="password" placeholder="Ingresa tu contraseña" class="input-text" 
                [(ngModel)]="Pass"   required>
                <!-- <span class="toggle-password" onclick="togglePassword()"><i class="fa-solid fa-eye"></i></span> -->
            </div>
            <div>   
                <div class="remember-me">
                    <input type="checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">Recuérdame</label>
                </div>
                <a (click)="RRegister()" style="cursor: pointer;">Crear una cuenta</a>
            </div>
            <button type="button" (click)="login()" style="margin-top: 26px;">Iniciar sesión</button>
        </form>
    </div>
</div>
