<div class="container">
    <div class="login-container">
        <div style="display: flex; align-items: start;">
            <button mat-button (click)="RLogin()" style="width: 7px;background-color: white;">
                <!-- <mat-icon class="small">arrow_back</mat-icon> -->
                <img src="../../assets/img/arrow_back.svg" alt="Envíos Internacionales">
            </button>
        </div>
        <h2>Registro Hermes</h2>
    <form>
        <div class="input-group">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" placeholder="Ingresa tu usuario" class="input-text" 
            [(ngModel)]="User.UserEmail" required>
        </div>
        <div class="input-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" class="input-text" 
            [(ngModel)]="User.password"   required>
        </div>
        <div class="input-group">
            <label for="password">Nombre</label>
            <input type="text" id="Nombre" name="Nombre" placeholder="Ingresa tu nombre" class="input-text" 
            [(ngModel)]="User.name"   required>
        </div>
        <div class="input-group">
            <label for="password">Rol</label>
            <select name="role" id="role" required [(ngModel)]="User.role" placeholder="Selecciona tu rol" class="input-text">
                <option value=1>Administrador</option>
                <option value=2>Visualizador</option>
              </select>
        </div>
        <button type="button" (click)="register()" style="margin-top: 26px;">Registrarme</button>
    </form>
    </div>
</div>

