<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">HERMES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex;justify-content: flex-end;">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#HomePrueba">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ObjectivePage">Objetivo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactPage">Contactanos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register" tabindex="-1" aria-disabled="true">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <div class="container-fluid HomePage" id="Home">
      <div class="jumbotron">
          <h1 class="display-4">Bienvenido a HERMES</h1>
          <p class="lead">La mejor plataforma de mensajería en línea.</p>
          <hr class="my-4">
          <p>¿Necesitas ayuda con tus dudas o necesitas soluciones inmediatas? No te pierdas nuestro apoyo!</p>
          <a class="btn btn-primary btn-lg" href="#contactPage" role="button">Solicitar asistencia</a>
        </div>
    </div>

    <div class="container-fluid ObjectivePage" id="ObjectivePage">
        <div class="jumbotron">
            <h5 class="display-6">Estamos para ti</h5>
            <div class="container">
                <div class="row">
                    <div class="col colCenterItem">
                        <p style="font-size: 1.5rem;font-weight: 300;">Queremos transformar tu vida dando un paso más allá con simpleza y rapidéz.</p>
                    </div>
                    <div class="col">
                        <img src="../../assets/img/Mensajeros1.png" alt="image" class="imgMensajero1">
                    </div>
                </div>
            </div>
          </div>
      </div>

      <div class="container-fluid contactPage" id="contactPage">
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col colCenterItem" style="margin-top: 3%;">
                        <div class="row">
                            <h5 class="display-6">Contactanos</h5>
                            <p style="font-size: 1.5rem;font-weight: 300;">No dudes más, se parte de este nuevo futuro.</p>
                            <img src="../../assets/img/Mensajeros1.png" alt="image" class="imgMensajero1">
                        </div>
                    </div>
                    <div class="col" style="margin-top: 3%;">
                        <div class="row">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlInput2" class="form-label">Correo electrónico</label>
                                        <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Correo electrónico">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>